@{ 
  ViewData["Title"] = "Home Page";
  Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@section Css {
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/css/customer.service.css">
}

<div id="app"></div>

@section Scripts {
  <script src="/js/chatting.js"></script>
}